<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title> Routing API Info page </title>

{{> APIsDirectory }}
  </head>

  <body>
    {{> header}}

<p>
    Check the JSON File please
  </p>
    <p>
    '/'  -->
  </p>
    <p>
    '/list'
  </p>
    <p>
    '/getOrder'
  </p>
    <p>
    '/createOrder'
  </p>
    <p>
    '/about'
  </p>
    <p>
    '/bad'
</p>


{{> footer}}


  </body>



</html>
